<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fullstack 2024</title>
    <link rel="stylesheet" href="header.component.css" />
    
    <p>Angular</p>
  </head>

 
     <body>

        <h1>{{texto}}</h1>
        <h2>Peliculas:</h2>

    </body>

    
<!--
    <p>parrafo 01</p>
    <p>parrafo 02</p>
    
    <ol>Ejemplo de lista ordenada
     <li>item 01</li>
     <li>item 02</li>
     <li>item 03</li>
    </ol>

    <ul>Ejemplo de lista desordenada
     <li>item 01</li>
     <li>item 02</li>
     <li>item 03</li>
    </ul>

   <div>
    <h2>Antes de saber HTML</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSDUxntYcZ8DbSPacyqkHzdkYAIX9wlrrv1A&s" alt="imagen 1">
    <p>ejemplo de img src con link de internet</p>
  </div>

  <div>
    <h2>Despues de saber HTML</h2>
    <img src="imagen bob esponja arcoiris.jfif" alt="bob esponja arcoiris">
    <p>ejemplo de img src con archivo en la carpeta</p>
  </div>

  <p class="parrafo"> ejemplos de links</p>
  <a href="https://www.w3schools.com/html/html_links.asp">html información</a> <br>
  <a href="https://www.w3schools.com/css/default.asp">css información</a> <br>
  <a href="https://www.w3schools.com/sql/default.asp">sql información</a>

  <nav>
    <ul>Menu de navegación
      <li><a href ="#">Inicio</a></li>
        <ul class="submenu">
         <li>menu 01</li>
         <li>menu 02</li>
         <li>menu 03</li>
        </ul>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Ayuda</a></li>
    </ul>
  </nav>

  <form action="web-a-la-que-se-le-manda-el-form">

    <label for="Nombre">Nombre:</label><br>
    <input type="text" id="Nombre" placeholder="Ana Parmigiani"><br>

    <label for="Mail">Mail:</label><br>
    <input type="text" id="Mail" placeholder="test@gmail.com"><br>

    <label for="Pass">Password:</label><br>
    <input type="password" id="pass" name="pass" placeholder="inserte su contraseña"><br>

    <button type="button">Olvide mi contraseña</button> <br>

    <label for="Descripcion">Descripción</label><br>
    <textarea id="descripcion" placeholder="inserte texto"></textarea> <br>
    
    <input type="text" placeholder="Buscar" name="query">
    <button type="button">Buscar</button><br>

    <label for="EnviarForm">Enviar formulario</label><br>
    <button type="submit">Enviar</button><br>

  </form>


    
  </body>
  



-->
