body {
    font-family: 'Inter', sans-serif;
}

.movie-info h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    margin: 10px 0;
    color: #333;
}

.movie-info p {
    font-family: 'Inter', sans-serif;
    font-size: 0.9em;
    color: #555;
}

.movie-info button {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 0.9em;
}